volumes:
  backend:
    name: backend
    driver: local
    driver_opts:
      type: none
      device: ./backend
      o: bind
  frontend:
    name: frontend
    driver: local
    driver_opts:
      type: none
      device: ./frontend
      o: bind
  database_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./database_data
  app_logs:
    driver: local

networks:
  Transcendence:
    name: Transcendence
    driver: bridge

services:
  Fastify:
    container_name: Fastify
    image: node:22.18.0
    volumes:
      - backend:/usr/src/app
      - frontend:/usr/src/frontend
      - app_logs:/usr/src/app/logs
      - type: volume
        source: database_data
        target: /usr/src/app/database_data
        volume:
          nocopy: true
    working_dir: /usr/src/app
    command: ./start.sh
    expose:
      - "3000"
    networks:
      - Transcendence
    env_file:
      - .env
    depends_on:
      SQL_Lite:
        condition: service_completed_successfully

  SQL_Lite:
    container_name: SQL_Lite
    image: sqlite
    build: ./database
    volumes:
      - ./database_data:/SQLite_data
    networks:
      - Transcendence
    restart: "no"

  Nginx:
    image: nginx
    container_name: Nginx
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    ports:
      - "8080:80"
      - "8081:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - app_logs:/var/log/nginx
    depends_on:
      - Fastify
#      - kibana
    networks:
      - Transcendence


  elasticsearch:
    container_name: elasticsearch
    build: 
      context: ./elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=true
      - ELASTIC_PASSWORD=UMApassWord123
    healthcheck:
      test: ["CMD-SHELL", "curl -fs -u elastic:UMApassWord123 http://localhost:9200/ || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 12
    env_file:
      - .env
#    volumes:
#      - ./elasticsearch/config:/usr/share/elasticsearch/config:ro
    expose:
      - "9200"
    networks:
      - Transcendence
    restart: unless-stopped

  kibana:
    container_name: kibana
    build: 
      context: ./kibana
    expose:
      - "5601"
    depends_on:
      elasticsearch:
        condition: service_healthy
    environment:
      - SERVER_BASEPATH=/kibana
      - SERVER_REWRITEBASEPATH=true
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - ELASTICSEARCH_USERNAME=${ELASTICSEARCH_USERNAME}
      - ELASTICSEARCH_PASSWORD=${ELASTICSEARCH_PASSWORD}
#    volumes:
#      - ./kibana/config/kibana.yml:/usr/share/kibana/config/kibana.yml:ro
    networks:
      - Transcendence
    restart: "unless-stopped"

  logstash:
    container_name: logstash
    image: logstash:8.13.0
#    depends_on:
#      - setup_elk
    environment:
      - LS_JAVA_OPTS=-Xms512m -Xmx512m
#      - LOGSTASH_USER=logstash_system
#      - LOGSTASH_PASSWORD=${LOGSTASH_PASSWORD}
    env_file:
      - .env
    expose:
      - "5044"
    volumes:
#      - ./logstash/pipeline:/usr/share/logstash/pipeline
      - ./logstash/logstash.conf:/usr/share/logstash/logstash.conf:ro
    networks:
      - Transcendence
    restart: "unless-stopped"

  filebeat:
    container_name: filebeat
    build:
      context: ./filebeat
    volumes:
      - ./backend/logs:/var/log/transcendence/backend:ro
    depends_on:
      - logstash
    networks:
      - Transcendence
    restart: "unless-stopped"

#  setup_elk:
#    build: ./setup_elk
#    depends_on:
#      - elasticsearch
#    environment:
#      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
#      - LOGSTASH_PASSWORD=${LOGSTASH_PASSWORD}
#    env_file:
#      - .env
#    networks:
#      - Transcendence
#    restart: "no"