version: '3.8'

volumes:
  backend:
    name: backend
    driver: local
    driver_opts:
      type: none
      device: ./backend
      o: bind
  frontend:
    name: frontend
    driver: local
    driver_opts:
      type: none
      device: ./frontend
      o: bind
  database_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./database_data
  app_logs:
    driver: local

networks:
  Transcendence:
    name: Transcendence
    driver: bridge

services:
  Fastify:
    container_name: Fastify
    image: node:22.18.0
    volumes:
      - backend:/usr/src/app
      - frontend:/usr/src/frontend
      - app_logs:/usr/src/app/logs
      - type: volume
        source: database_data
        target: /usr/src/app/database_data
        volume:
          nocopy: true
    working_dir: /usr/src/app
    command: ./start.sh
    networks:
      - Transcendence
    env_file:
      - .env
    depends_on:
      SQL_Lite:
        condition: service_completed_successfully

  SQL_Lite:
    container_name: SQL_Lite
    image: sqlite
    build: ./database
    volumes:
      - ./database_data:/SQLite_data
    networks:
      - Transcendence
    restart: "no"

  Nginx:
    image: nginx
    container_name: Nginx
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    ports:
      - "8080:80"
      - "8081:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - app_logs:/var/log/nginx
    depends_on:
      - Fastify
    networks:
      - Transcendence


  elasticsearch:
    image: elasticsearch:8.13.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false
    volumes:
      - ./elasticsearch/config:/usr/share/elasticsearch/config:ro
    expose:
      - "9200"
    networks:
      - Transcendence

  kibana:
    image: kibana:8.13.0
    container_name: kibana
    expose:
      - "5601"
    depends_on:
      - elasticsearch
    networks:
      - Transcendence

  logstash:
    image: logstash:8.13.0
    container_name: logstash
    expose:
      - "5044"
    volumes:
      - ./logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro
    networks:
      - Transcendence

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.13.0
    container_name: filebeat
    user: root
    volumes:
      - ./filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - app_logs:/var/log/nginx:ro
    depends_on:
      - logstash
    networks:
      - Transcendence