version: '3.8'

volumes:
  backend:
    name: backend
    driver: local
    driver_opts:
      type: none
      device: ./backend
      o: bind
  frontend:
    name: frontend
    driver: local
    driver_opts:
      type: none
      device: ./frontend
      o: bind
  database_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./database_data

networks:
  Transcendence:
    name: Transcendence
    driver: bridge

services:
  Fastify:
    container_name: Fastify
    image: node:22.18.0
    volumes:
      - backend:/usr/src/app
      - frontend:/usr/src/frontend
      - type: volume
        source: database_data
        target: /usr/src/app/database_data
        volume:
          nocopy: true
    working_dir: /usr/src/app
    command: ./start.sh
    networks:
      - Transcendence
    env_file:
      - .env
    depends_on:
      SQL_Lite:
        condition: service_completed_successfully

  SQL_Lite:
    container_name: SQL_Lite
    image: sqlite
    build: ./database
    volumes:
      - ./database_data:/SQLite_data
    networks:
      - Transcendence
    restart: "no"

  Nginx:
    image: nginx
    container_name: Nginx
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    ports:
      - "8080:80"
      - "8081:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - Fastify
    networks:
      - Transcendence

  Vite:
    container_name: Vite
    image: node:20-alpine
    build:
      context: .
      dockerfile: ./frontend/src/Game/Dockerfile.dev
    ports:
      - "5173:5173" # Depois diz-me se e preciso mudar as ports
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - Transcendence